@font-face {
    font-family: 'MADE Outer Sans Alt';
    font-style: normal;
    font-weight: 400;
    src: local('MADE Outer Sans Alt'), url('https://fonts.cdnfonts.com/s/30377/MADE Outer Sans Alt Regular PERSONAL USE.woff') format('woff');
}
@font-face {
    font-family: 'MADE Outer Sans Alt';
    font-style: normal;
    font-weight: 250;
    src: local('MADE Outer Sans Alt'), url('https://fonts.cdnfonts.com/s/30377/MADE Outer Sans Alt Thin PERSONAL USE.woff') format('woff');
}
@font-face {
    font-family: 'MADE Outer Sans Alt';
    font-style: normal;
    font-weight: 300;
    src: local('MADE Outer Sans Alt'), url('https://fonts.cdnfonts.com/s/30377/MADE Outer Sans Alt Light PERSONAL USE.woff') format('woff');
}
@font-face {
    font-family: 'MADE Outer Sans Alt';
    font-style: normal;
    font-weight: 500;
    src: local('MADE Outer Sans Alt'), url('https://fonts.cdnfonts.com/s/30377/MADE Outer Sans Alt Medium PERSONAL USE.woff') format('woff');
}
@font-face {
    font-family: 'MADE Outer Sans Alt';
    font-style: normal;
    font-weight: 700;
    src: local('MADE Outer Sans Alt'), url('https://fonts.cdnfonts.com/s/30377/MADE Outer Sans Alt Bold PERSONAL USE.woff') format('woff');
}
@font-face {
    font-family: 'MADE Outer Sans Alt';
    font-style: normal;
    font-weight: 900;
    src: local('MADE Outer Sans Alt'), url('https://fonts.cdnfonts.com/s/30377/MADE Outer Sans Alt Black PERSONAL USE.woff') format('woff');
}
@font-face {
    font-family: 'MADE Outer Sans';
    font-style: normal;
    font-weight: 400;
    src: local('MADE Outer Sans'), url('https://fonts.cdnfonts.com/s/30377/MADE Outer Sans Regular PERSONAL USE.woff') format('woff');
}
@font-face {
    font-family: 'MADE Outer Sans Outline Alt';
    font-style: normal;
    font-weight: 400;
    src: local('MADE Outer Sans Outline Alt'), url('https://fonts.cdnfonts.com/s/30377/MADE Outer Sans Outline Alt Regular PERSONAL USE.woff') format('woff');
}
@font-face {
    font-family: 'MADE Outer Sans Outline';
    font-style: normal;
    font-weight: 400;
    src: local('MADE Outer Sans Outline'), url('https://fonts.cdnfonts.com/s/30377/MADE Outer Sans Outline Regular PERSONAL USE.woff') format('woff');
}
@font-face {
    font-family: 'MADE Outer Sans';
    font-style: normal;
    font-weight: 250;
    src: local('MADE Outer Sans'), url('https://fonts.cdnfonts.com/s/30377/MADE Outer Sans Thin PERSONAL USE.woff') format('woff');
}
@font-face {
    font-family: 'MADE Outer Sans Outline Alt';
    font-style: normal;
    font-weight: 250;
    src: local('MADE Outer Sans Outline Alt'), url('https://fonts.cdnfonts.com/s/30377/MADE Outer Sans Outline Alt Thin PERSONAL USE.woff') format('woff');
}
@font-face {
    font-family: 'MADE Outer Sans Outline';
    font-style: normal;
    font-weight: 250;
    src: local('MADE Outer Sans Outline'), url('https://fonts.cdnfonts.com/s/30377/MADE Outer Sans Outline Thin PERSONAL USE.woff') format('woff');
}
@font-face {
    font-family: 'MADE Outer Sans';
    font-style: normal;
    font-weight: 300;
    src: local('MADE Outer Sans'), url('https://fonts.cdnfonts.com/s/30377/MADE Outer Sans Light PERSONAL USE.woff') format('woff');
}
@font-face {
    font-family: 'MADE Outer Sans Outline Alt';
    font-style: normal;
    font-weight: 300;
    src: local('MADE Outer Sans Outline Alt'), url('https://fonts.cdnfonts.com/s/30377/MADE Outer Sans Outline Alt Light PERSONAL USE.woff') format('woff');
}
@font-face {
    font-family: 'MADE Outer Sans Outline';
    font-style: normal;
    font-weight: 300;
    src: local('MADE Outer Sans Outline'), url('https://fonts.cdnfonts.com/s/30377/MADE Outer Sans Outline Light PERSONAL USE.woff') format('woff');
}
@font-face {
    font-family: 'MADE Outer Sans';
    font-style: normal;
    font-weight: 500;
    src: local('MADE Outer Sans'), url('https://fonts.cdnfonts.com/s/30377/MADE Outer Sans Medium PERSONAL USE.woff') format('woff');
}
@font-face {
    font-family: 'MADE Outer Sans Outline Alt';
    font-style: normal;
    font-weight: 500;
    src: local('MADE Outer Sans Outline Alt'), url('https://fonts.cdnfonts.com/s/30377/MADE Outer Sans Outline Alt Medium PERSONAL USE.woff') format('woff');
}
@font-face {
    font-family: 'MADE Outer Sans Outline';
    font-style: normal;
    font-weight: 500;
    src: local('MADE Outer Sans Outline'), url('https://fonts.cdnfonts.com/s/30377/MADE Outer Sans Outline Medium PERSONAL USE.woff') format('woff');
}
@font-face {
    font-family: 'MADE Outer Sans';
    font-style: normal;
    font-weight: 700;
    src: local('MADE Outer Sans'), url('https://fonts.cdnfonts.com/s/30377/MADE Outer Sans Bold PERSONAL USE.woff') format('woff');
}
@font-face {
    font-family: 'MADE Outer Sans Outline Alt';
    font-style: normal;
    font-weight: 700;
    src: local('MADE Outer Sans Outline Alt'), url('https://fonts.cdnfonts.com/s/30377/MADE Outer Sans Outline Alt Bold PERSONAL USE.woff') format('woff');
}
@font-face {
    font-family: 'MADE Outer Sans Outline';
    font-style: normal;
    font-weight: 700;
    src: local('MADE Outer Sans Outline'), url('https://fonts.cdnfonts.com/s/30377/MADE Outer Sans Outline Bold PERSONAL USE.woff') format('woff');
}
@font-face {
    font-family: 'MADE Outer Sans';
    font-style: normal;
    font-weight: 900;
    src: local('MADE Outer Sans'), url('https://fonts.cdnfonts.com/s/30377/MADE Outer Sans Black PERSONAL USE.woff') format('woff');
}
@font-face {
    font-family: 'MADE Outer Sans Outline Alt';
    font-style: normal;
    font-weight: 900;
    src: local('MADE Outer Sans Outline Alt'), url('https://fonts.cdnfonts.com/s/30377/MADE Outer Sans Outline Alt Black PERSONAL USE.woff') format('woff');
}
@font-face {
    font-family: 'MADE Outer Sans Outline';
    font-style: normal;
    font-weight: 900;
    src: local('MADE Outer Sans Outline'), url('https://fonts.cdnfonts.com/s/30377/MADE Outer Sans Outline Black PERSONAL USE.woff') format('woff');
}


